<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../static/css.css'> 
    <script defer src="../static/JavaScript.js"> </script>
</head>
<body class="body2">
    <div class="mainGrid">
      <header>
        <div class="container">
          <div class="parkingNav">
            <h1 class="logo">Buy My Ticket</h1>
            <nav>
              <ul>
                <li><a href="Main.html">Home</a></li>
                <li><a href="TicketBrowser.html">Ticket Browser</a></li>
                <li><a href="LogIn.html">Log in</a></li>
                <li><a href="SignIn.html">sign in</a></li>
              </ul>
            </nav>
          </div>
        </div>
        </header>
        <div class="tohen">
                <div class="form_container">
                  <div class="title_container">
                    <h2>Log In Form</h2>
                  </div>
                  <div class="row clearfix">
                    <form class="login">
                        <div > <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input class="input_field" type="email" name="email" placeholder="Email" required />
                          </div>
                          <div > <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input class="input_field" type="password" name="password" placeholder="Password" required />
                          </div>
                        <button class="BTNS">
                            <span class="button__text">Log In</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>				
                    </form>
                  </div>
        </div>
    </div>
    </body>
    
</html>


